<div class="main-content margin-top">
    <div class="container dashboardpt">
<!-- <h2><strong>404</strong>-Page Not Found</h2> -->
<!-- <p>The page is in under development or page doesn't exist.</p> -->
<!-- <a [routerLink]="['/dashboard']">Home</a> -->
<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <div></div>
            <h1>404</h1>
        </div>
        <h2>Page not found</h2>
        <p>The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p>
        <a [routerLink]="['/dashboard']">Go to home page</a>
    </div>
</div>
</div>
</div>