/* 
.span{
    margin: 10px;
}
.img-back{
    width: 100%;
   
}

.submit-btn {
    border: 1px solid #cc0000;
    color: #cc0000;
    margin: 0px 2px;
    padding: 2px 10px;
    border-radius: 15px
}

.submit-btn img {
    width: 25px;
    margin-right: 10px;
}



 */


/* Angaj */

.form-control {
    font-size: 14px;
    padding: 10px 12px;
    color: rgb(0, 0, 0);
    /* background-color: #fff; */
    /* border: 2px solid #000000; */
    border-radius: 0;
    height: auto;
    width: 100%;
    padding: 13px;
    margin-top: 5px;
    margin-bottom: 20px;
    background: #f1f1f1;
    border: 1px solid black;
    background-color: white;
    padding: 13px;
}

select.form-control.form-select {
    background-image: linear-gradient( 45deg, transparent 50%, black 50%), linear-gradient( 135deg, black 50%, transparent 50%), linear-gradient(to right, #fff, #fff) !important;
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em !important;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
}

.error {
    color: red;
    /* float: left;
    margin-top: -10px; */
    float: none;
    margin-top: -6px;
    margin-bottom: 10px;
    text-align: left;
}


/* #PAN{
    text-transform: uppercase;
  } */

.form-control,
.is-focused .form-control {
    background-image: linear-gradient( to top, #fdfbfd 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d200 1px, rgba(210, 210, 210, 0) 1px) !important;
}


/* Sandesh */

.btn-cmn {
    border: 1px solid #cc0000;
    color: #cc0000;
    margin: 15px 20px;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: white;
}

.btn-cmn img {
    margin-right: 7px;
}

.arr-red {
    width: 20%;
}

.bg-img {
    background-image: url("/dxvendorportal/assets/img/image.jpg");
    /* min-height: 650px; */
    min-height: 100%;
    /* height: calc(100vh - 80px); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 80px;
}

.login-text {
    /* margin-left: 5%; */
    line-height: initial;
}

.login-head {
    font-family: "Open Sans", Helvetica, Arial, Lucida, sans-serif;
    font-weight: 800;
    font-size: 3rem;
    letter-spacing: -0.06em;
    line-height: 3rem;
}

.login-text p {
    line-height: 2rem;
    padding-bottom: 1em;
    font-family: "Open Sans", Helvetica, Arial, Lucida, sans-serif;
    /* font-size: 1.2rem; */
    font-size: 20px;
}

.loginFormWrapper {
    position: relative;
    /* max-width: 550px; */
    flex: 0 0 550px;
    margin-left: auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 6px 7px;
    margin-bottom: 75px;
    min-height: 330px;
    /* min-height: 200px; */
}

.login-flexRight {
    display: flex;
}

.loginFormWrapper input[type="text"],
.loginFormWrapper input[type="password"] {
    width: 100%;
    padding: 13px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #212529;
    border: 2px solid #dce1e4;
    background-color: transparent;
    padding: 13px;
    text-transform: lowercase;
}

.loginFormWrapper input[type="text"],
.loginFormWrapper input[type="password"],
select {
    font-size: 20px;
}

.loginFormWrapper input[type="text"]:focus,
.loginFormWrapper input[type="password"]:focus {
    background-color: white;
    outline: none;
}

.frm-sec-2 h4 {
    font-size: 14px;
}

.otpMessage {
    margin-bottom: 10px;
    text-align: left;
}

.resend-linkWrapper {
    margin-bottom: 10px;
}

.resendLink {
    color: gray;
    text-decoration: none;
    font-size: 13px;
    text-decoration: underline;
}

.resendLink:hover {
    color: gray;
    text-decoration: underline;
}


/* .ErrorWrapper {
    height: 60px;
} */

@media only screen and (max-width: 992px) {
    .login-flexRight {
        display: flex;
        justify-content: center;
    }
    .loginFormWrapper {
        max-width: 90%;
        margin-left: initial;
    }
    .login-text {
        text-align: center;
        margin-left: initial;
    }
}

@media only screen and (max-width: 600px) {
    .bg-img {
        margin-top: 78px;
        height: 88vh;
    }
    .loginFormWrapper {
        box-shadow: none;
    }
    .loginFormWrapper {
        max-width: 100%;
    }
    .login-head {
        font-size: 1rem;
        text-align: center;
        line-height: 0rem;
    }
    .login-text p {
        font-size: 12px;
        text-align: center;
        line-height: 1rem;
    }
    .loginFormWrapper {
        margin-bottom: 46px;
        margin-top: 40px;
    }
    .frm-sec-2 h4 {
        font-size: 9px;
    }
    .loginFormWrapper input[type="text"],
    .loginFormWrapper input[type="password"] {
        width: 100%;
        padding: 5px;
        margin-top: 3px;
    }
    .captcha {
        transform: scale(0.77);
        -webkit-transform: scale(0.77);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
}

@media only screen and (max-width: 320px) {
    /* .loginFormWrapper {
      max-width: 250px;
      right: 18%;
      max-height: 420px;
      top: 90px;
    } */
}


/* select.form-control.form-select {
    line-height: initial !important;
} */


/* 
.mat-form-field {
    font-size: 18px;
    border: 1px solid #000000;
    padding: 0 5px;
    overflow: hidden;
}

.mat-form-field-wrapper {
    padding-bottom: 0 !important;
} */


/* .inv-form-inputs {
    width: 100% !important
} */


/* ::ng-deep .inv-form-inputs .mat-form-field-wrapper {
    padding-bottom: 0;
}

 ::ng-deep .inv-form-inputs .mat-form-field-flex {
    align-items: center !important;
}

 ::ng-deep .inv-form-inputs .mat-form-field-wrapper .mat-form-field-infix {
    border-top: 0;
} */

.inv-form-inputs {
    width: 100%;
}

.mat-form-field {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    border: 2px solid #dce1e4;
    padding: 0 20px;
}

.mat-form-field .mat-form-field-wrapper {
    padding-bottom: 0 !important;
}

.mat-error {
    display: block;
    text-align: left;
}

.login-text {
    padding-top: 25px !important;
}

@media only screen and (max-width: 768px) {
    .login-text {
        padding-top: 25px !important;
        font-size: 14px;
    }
    .login-text p {
        font-size: 14px;
        line-height: 1.2;
    }
    /* .login-head {
        font-size: 1.6rem !important;
        line-height: 1.2 !important;
        top: 19px !important;
    } */
}