<div class="main-content margin-top">
    <div class="container dashboardpt">
        <div class="inv-page-container">
            <div class="inv-page-wrapper container">
                <div class="inv-page-header">
                    <img class="left-arrow" src="./assets/img/arrow_icon_grey_prev.png" />
                    <p class="invoice-number">INV203322, PO No.:23000052340
                        <span class="status-color st-inProgress"></span>
                    </p>
                </div>
                <div class="invoice-form">
                    <div class="inv-form-inputs">
                        <p class="input-title">Invoice Number : <span>INV2345671</span></p>
                    </div>
                    <div class="inv-form-inputs">
                        <p class="input-title">Invoice Date : <span>20.10.2020</span></p>
                    </div>
                    <div class="inv-form-inputs">
                        <p class="input-title">Payment Method : <span>Cheque</span></p>
                    </div>
                    <div class="inv-form-inputs">
                        <p class="input-title">Milestone : <span>Payment 4</span></p>
                    </div>
                    <div class="inv-form-inputs">
                        <p class="input-title">Delivery Date : <span>20.10.2020</span></p>
                    </div>
                    <div class="inv-form-inputs">
                        <p class="input-title">Net Total : <span>Rs. 20,000</span></p>
                    </div>
                    <div class="inv-form-inputs">
                        <p class="input-title">Gross Total : <span>Rs. 22,000</span></p>
                    </div>
                    <div class="inv-form-inputs">
                        <p class="input-title">Total Amount : <span>Rs. 25,000</span></p>
                    </div>
                    <div class="inv-form-inputs">
                        <p class="input-title">GST Calculated : <span>Yes</span></p>
                    </div>
                    <div class="inv-form-inputs">
                        <div class="add-file-input">
                            <label for="input-file" class="file-input">
                            <img src="./assets/img/cloud-computing.png" />
                        </label>
                            <input type="file" id="input-file" class="d-none">
                            <p class="input-title">Attachment testinvoice.pdf</p>
                        </div>
                        <p class="input-subtitle">Upload your E-invoice doc,pdf below 4mb</p>
                    </div>
                    <div class="inv-form-inputs">
                        <div class="add-file-input">
                            <label for="input-file2" class="file-input">
                            <img src="./assets/img/cloud-computing.png" />
                        </label>
                            <input type="file" id="input-file2" class="d-none">
                            <p class="input-title">Attached testinvoice.pdf</p>
                        </div>
                        <p class="input-subtitle">Upload Other Supporting documents</p>
                    </div>
                    <div class="inv-form-inputs">
                        <p class="input-title">Signed by : <span>Laura Fernandez</span></p>
                    </div>


                </div>
                <button class="submit-btn">
                <img src="./assets/img/arrow_icon_red.png" />
                <span>Submit Invoice</span>
            </button>
            </div>
        </div>
    </div>
</div>